/auxil/
/out/
/Outdated/
/venv/
/venv/bin/
/venv/lib/
/venv/local/
/venv/.gitignore
/venv/pyvenv.cfg

# Remove large csv files
/Logged_Grid_State_Data/*csv
/Logged_Grid_State_Data/*py
**/ders_testing/**
**/cimhub_docker/**
/dss_files/python_scripts/
/dss_files/testing_files/
**/support/**


# Remove debugging files (imported gridappsd models from blazegraph)