/auxil/
/out/
/Outdated/
/venv/
/venv/bin/
/venv/lib/
/venv/local/
/venv/.gitignore
/venv/pyvenv.cfg

# Remove large csv files
**/Logged_Grid_State_Data/*csv
**/ders_testing/**
**/cimhub_docker/**


# Remove debugging files (imported gridappsd models from blazegraph)